IndentWidth: 3
TabWidth: 3
BreakBeforeBraces: Linux
UseTab: Never
IndentAccessModifiers: false
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
ColumnLimit: 100
PenaltyExcessCharacter: 60
PointerAlignment: Right
ReferenceAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceAroundPointerQualifiers: Before
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: false
AlignTrailingComments: true
AlignAfterOpenBracket: true
AlignOperands: true
BreakBeforeBinaryOperators: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
MaxEmptyLinesToKeep: 3